.header-section{
    border-style: solid;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    height: 65px;
}

#Header-Signature{
   flex-grow: 1;
   border-style: solid;
}

#Header-Nav-Bar{
    flex-grow: 39;
    border-style: solid;
   
}