.header-section{
    border-style: solid;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    height: 65px;
}

#Header-Signature{
   flex-grow: 1;
   border-style: solid;
}

#Header-Nav-Bar{
    flex-grow: 39;
    border-style: solid;
   
}
.Intro-section{
    display: flex;
    border-style: solid;
    flex-direction: row;
    height: 3.4in;
    align-content: center;
}
#Intro-Photo{
display: flex;
border-style: solid;
width: 2.5in;
justify-content: center;
align-items: center;

}

#Intro-Text{
display: flex;
border-style: solid;
width: 3.9in;
}